:root {
    --surface-a: #ffffff;
    --surface-b: #f5f5f5;
    --surface-c: #edf0fA;
    --surface-d: #ebebeb;
    --surface-e: #ffffff;
    --surface-f: #ffffff;
    --text-color: #6c6c6c;
    --text-color-secondary: #898989;
    --primary-color: #57A75C;
    --secondory-color: #7F57A7;
    --secondory-color-blur: #EFD9FD;
    --primary-color-blur: #B2F4B7;
    --primary-color-text: #ffffff;
    --error-color: #CA3D3D;
    --font-family: Poppins, sans-serif;
    --surface-0: #ffffff;
    --surface-50: #f1f3f5;
    --surface-100: #e2e6eb;
    --surface-200: #c6cdd7;
    --surface-300: #a9b4c2;
    --surface-400: #8d9bae;
    --surface-500: #70829a;
    --surface-600: #5a687b;
    --surface-700: #434e5c;
    --surface-800: #2d343e;
    --surface-900: #161a1f;
    --gray-50: #f1f3f5;
    --gray-100: #e2e6eb;
    --gray-200: #c6cdd7;
    --gray-300: #a9b4c2;
    --gray-400: #8d9bae;
    --gray-500: #70829a;
    --gray-600: #5a687b;
    --gray-700: #434e5c;
    --gray-800: #2d343e;
    --gray-900: #161a1f;
    --content-padding: 1rem;
    --inline-spacing: 0.5rem;
    --border-radius: 12px;
    --surface-section: #ffffff;
    --surface-card: #ffffff;
    --surface-overlay: #ffffff;
    --surface-border: #EEEEEE;
    --surface-hover: #edf0fA;
    --focus-ring: 0 0 0 0.1rem #bbc7ee;
    --maskbg: rgba(0, 0, 0, 0.4);
    --highlight-bg: #ced6f1;
    --highlight-text-color: #585858;
    color-scheme: light
}